.mine{
  color: #f22;
  position: absolute;
  bottom: 108px;
  top: 0;
  left: 0;
  right: 0;
  .logout {
    position: absolute;
    height: 80px;
    bottom: 2px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #333;
    .btn {
      font-size: 24px;
      padding: 0 40px;
    }
  } 
}